* {
  margin: 0;
  padding: 0;
}

/* Primer paisaje */
.image-1 {
  display: none;
}

.kitten1 {
  position: absolute;
  top: 210px;
  left: 110px;
}

/* Segundo paisaje */
.image-2 {
  display: none;
}

.kitten2 {
  position: absolute;
  top: 430px;
  left: 440px;
}

/* Tercer paisaje */
.landscape3 {
  height: 800px;
}

.kitten3 {
  position: absolute;
  top: 500px;
  left: 260px;
}
